<body>
	<!-- Header ================================================================== -->
	<div id="header"></div>

	<!-- Section body ================================================================== -->
	<section>
		<h1>Panel de Control</h1>
			<p>En esta sección encontrará un listado de los diferentes recursos del sitio web.</p>
			<div id="admin_opciones">
				<a routerLink="/lista_productos">
				<div class="admin_opcion">
					<img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/administrador/html/themes/images/administrador/productos_enventa.png?raw=true" class="image_opcion" alt="productos en venta">
					<h4>Productos en Venta</h4>
				</div>
				</a>

				<a routerLink="/lista_ventas">
					<div class="admin_opcion">
						<img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/administrador/html/themes/images/administrador/ventas_concretadas.png?raw=true" class="image_opcion" alt="ventas concretadas">
						<h4>Ventas Concretadas</h4>	
					</div>
				</a>

				<a routerLink="/lista_mascotas">
					<div class="admin_opcion">
						<img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/administrador/html/themes/images/administrador/mascotas_opcion.png?raw=true" class="image_opcion" alt="mascotas">
						<h4>Mascotas Registradas</h4>
					</div>
				</a>			
				
			</div>

		<a routerLink="/"><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/administrador/html/themes/images/administrador/back_button.png?raw=true" id="back_button" alt="boton de retroceso"></a>
	</section>

	<!-- Footer ================================================================== -->
	<div  id="footer"></div>

	<!-- Placed at the end of the document so the pages load faster ============================================= -->
	<script src="themes/js/jquery.js"></script>
	<script src="themes/js/bootstrap.min.js"></script>
	<script src="themes/js/google-code-prettify/prettify.js"></script>
	
	<script src="themes/js/bootshop.js"></script>
    <script src="themes/js/jquery.lightbox-0.5.js"></script>


</body>