<body>
	<!-- Header ================================================================== -->
	<div id="header"></div>

	<!-- Section body ================================================================== -->
	<section>
		<h1>Solicitudes de Venta</h1>
			<p>Apruebe o rechace las solicitudes de venta como estime conveniente.</p>
			<div id="solicitudes_venta">	
					<ul id= "volume_list">
						<li>
						<details>
							<summary>
								<span class="volume_title"><small>Venta #1</small></span>
							</summary>
								<ul class="chapters_list">
									<li class="chapter_title"><p><b>Nombre Producto: </b> Nombre</p></li>
									<li class="chapter_title"><p><b>Precio:</b> $20,00</p></li>
									<li class="chapter_title"><p><b>Descripción: </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat a nunc sed pharetra. Sed erat lectus, interdum nec lacus at, fermentum rutrum sapien. Duis sit amet mauris bibendum, scelerisque risus nec, egestas ante. Vivamus consectetur sem ac sem semper, et sollicitudin ex facilisis. Nullam et lacus et libero sagittis bibendum quis eu velit. Donec nisl ante, sollicitudin at fringilla vitae, malesuada sit amet ligula. In ultrices ex massa, a ullamcorper ante dictum a. Vestibulum non euismod nunc. Nullam malesuada fermentum nibh eget interdum. Fusce bibendum, libero vel hendrerit commodo, libero nulla volutpat urna, sit amet pretium lectus nisi ac dui. Ut faucibus et nibh vel porttitor. Ut id gravida nunc. Praesent sollicitudin semper luctus.</p></li>
									<li>
									<div class="botones_solicitud">
										<button>Aceptar</button>
										<button>Rechazar</button>
									</div>
									</li>
								</ul>					
						</details>
						</li>
						<li>
						<details>
							<summary>
								<span class="volume_title"><small>Venta #2</small></span>
							</summary>
								<ul class="chapters_list">
									<li class="chapter_title"><p><b>Nombre Producto: </b> Nombre</p></li>
									<li class="chapter_title"><p><b>Precio:</b> $20,00</p></li>
									<li class="chapter_title"><p><b>Descripción: </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat a nunc sed pharetra. Sed erat lectus, interdum nec lacus at, fermentum rutrum sapien. Duis sit amet mauris bibendum, scelerisque risus nec, egestas ante. Vivamus consectetur sem ac sem semper, et sollicitudin ex facilisis. Nullam et lacus et libero sagittis bibendum quis eu velit. Donec nisl ante, sollicitudin at fringilla vitae, malesuada sit amet ligula. In ultrices ex massa, a ullamcorper ante dictum a. Vestibulum non euismod nunc. Nullam malesuada fermentum nibh eget interdum. Fusce bibendum, libero vel hendrerit commodo, libero nulla volutpat urna, sit amet pretium lectus nisi ac dui. Ut faucibus et nibh vel porttitor. Ut id gravida nunc. Praesent sollicitudin semper luctus.</p></li>
									<li>
									<div class="botones_solicitud">
										<button>Aceptar</button>
										<button>Rechazar</button>
									</div>
									</li>
								</ul>
						</details>
						</li>
						<li>
						<details>
							<summary>
								<span class="volume_title"><small>Venta #3</small></span>
							</summary>
								<ul class="chapters_list">
									<li class="chapter_title"><p><b>Nombre Producto: </b> Nombre</p></li>
									<li class="chapter_title"><p><b>Precio:</b> $20,00</p></li>
									<li class="chapter_title"><p><b>Descripción: </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat a nunc sed pharetra. Sed erat lectus, interdum nec lacus at, fermentum rutrum sapien. Duis sit amet mauris bibendum, scelerisque risus nec, egestas ante. Vivamus consectetur sem ac sem semper, et sollicitudin ex facilisis. Nullam et lacus et libero sagittis bibendum quis eu velit. Donec nisl ante, sollicitudin at fringilla vitae, malesuada sit amet ligula. In ultrices ex massa, a ullamcorper ante dictum a. Vestibulum non euismod nunc. Nullam malesuada fermentum nibh eget interdum. Fusce bibendum, libero vel hendrerit commodo, libero nulla volutpat urna, sit amet pretium lectus nisi ac dui. Ut faucibus et nibh vel porttitor. Ut id gravida nunc. Praesent sollicitudin semper luctus.</p></li>
									<li>
									<div class="botones_solicitud">
										<button>Aceptar</button>
										<button>Rechazar</button>
									</div>
									</li>
								</ul>
						</details>
						</li>
						<li>
						<details>
							<summary>
								<span class="volume_title"><small>Venta #4</small></span>
							</summary>
								<ul class="chapters_list">
									<li class="chapter_title"><p><b>Nombre Producto: </b> Nombre</p></li>
									<li class="chapter_title"><p><b>Precio:</b> $20,00</p></li>
									<li class="chapter_title"><p><b>Descripción: </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat a nunc sed pharetra. Sed erat lectus, interdum nec lacus at, fermentum rutrum sapien. Duis sit amet mauris bibendum, scelerisque risus nec, egestas ante. Vivamus consectetur sem ac sem semper, et sollicitudin ex facilisis. Nullam et lacus et libero sagittis bibendum quis eu velit. Donec nisl ante, sollicitudin at fringilla vitae, malesuada sit amet ligula. In ultrices ex massa, a ullamcorper ante dictum a. Vestibulum non euismod nunc. Nullam malesuada fermentum nibh eget interdum. Fusce bibendum, libero vel hendrerit commodo, libero nulla volutpat urna, sit amet pretium lectus nisi ac dui. Ut faucibus et nibh vel porttitor. Ut id gravida nunc. Praesent sollicitudin semper luctus.</p></li>
									<li>
									<div class="botones_solicitud">
										<button>Aceptar</button>
										<button>Rechazar</button>
									</div>
									</li>
								</ul>
						</details>
						</li>
						<li>
						<details>
							<summary>
								<span class="volume_title"><small>Venta #5</small></span>
							</summary>
								<ul class="chapters_list">
									<li class="chapter_title"><p><b>Nombre Producto: </b> Nombre</p></li>
									<li class="chapter_title"><p><b>Precio:</b> $20,00</p></li>
									<li class="chapter_title"><p><b>Descripción: </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat a nunc sed pharetra. Sed erat lectus, interdum nec lacus at, fermentum rutrum sapien. Duis sit amet mauris bibendum, scelerisque risus nec, egestas ante. Vivamus consectetur sem ac sem semper, et sollicitudin ex facilisis. Nullam et lacus et libero sagittis bibendum quis eu velit. Donec nisl ante, sollicitudin at fringilla vitae, malesuada sit amet ligula. In ultrices ex massa, a ullamcorper ante dictum a. Vestibulum non euismod nunc. Nullam malesuada fermentum nibh eget interdum. Fusce bibendum, libero vel hendrerit commodo, libero nulla volutpat urna, sit amet pretium lectus nisi ac dui. Ut faucibus et nibh vel porttitor. Ut id gravida nunc. Praesent sollicitudin semper luctus.</p></li>
									<li>
									<div class="botones_solicitud">
										<button>Aceptar</button>
										<button>Rechazar</button>
									</div>
									</li>
								</ul>
						</details>
						</li>
						<li>
						<details>
							<summary>
								<span class="volume_title"><small>Venta #6</small></span>
							</summary>
								<ul class="chapters_list">
									<li class="chapter_title"><p><b>Nombre Producto: </b> Nombre</p></li>
									<li class="chapter_title"><p><b>Precio:</b> $20,00</p></li>
									<li class="chapter_title"><p><b>Descripción: </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat a nunc sed pharetra. Sed erat lectus, interdum nec lacus at, fermentum rutrum sapien. Duis sit amet mauris bibendum, scelerisque risus nec, egestas ante. Vivamus consectetur sem ac sem semper, et sollicitudin ex facilisis. Nullam et lacus et libero sagittis bibendum quis eu velit. Donec nisl ante, sollicitudin at fringilla vitae, malesuada sit amet ligula. In ultrices ex massa, a ullamcorper ante dictum a. Vestibulum non euismod nunc. Nullam malesuada fermentum nibh eget interdum. Fusce bibendum, libero vel hendrerit commodo, libero nulla volutpat urna, sit amet pretium lectus nisi ac dui. Ut faucibus et nibh vel porttitor. Ut id gravida nunc. Praesent sollicitudin semper luctus.</p></li>
									<li>
									<div class="botones_solicitud">
										<button>Aceptar</button>
										<button>Rechazar</button>
									</div>
									</li>
								</ul>
						</details>
						</li>
						<li>
						<details>
							<summary>
								<span class="volume_title"><small>Venta #7</small></span>
							</summary>
								<ul class="chapters_list">
									<li class="chapter_title"><p><b>Nombre Producto: </b> Nombre</p></li>
									<li class="chapter_title"><p><b>Precio:</b> $20,00</p></li>
									<li class="chapter_title"><p><b>Descripción: </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat a nunc sed pharetra. Sed erat lectus, interdum nec lacus at, fermentum rutrum sapien. Duis sit amet mauris bibendum, scelerisque risus nec, egestas ante. Vivamus consectetur sem ac sem semper, et sollicitudin ex facilisis. Nullam et lacus et libero sagittis bibendum quis eu velit. Donec nisl ante, sollicitudin at fringilla vitae, malesuada sit amet ligula. In ultrices ex massa, a ullamcorper ante dictum a. Vestibulum non euismod nunc. Nullam malesuada fermentum nibh eget interdum. Fusce bibendum, libero vel hendrerit commodo, libero nulla volutpat urna, sit amet pretium lectus nisi ac dui. Ut faucibus et nibh vel porttitor. Ut id gravida nunc. Praesent sollicitudin semper luctus.</p></li>
									<li>
									<div class="botones_solicitud">
										<button>Aceptar</button>
										<button>Rechazar</button>
									</div>
									</li>
								</ul>
						</details>
						</li>
						<li>
						<details>
							<summary>
								<span class="volume_title"><small>Venta #8</small></span>
							</summary>
								<ul class="chapters_list">
									<li class="chapter_title"><p><b>Nombre Producto: </b> Nombre</p></li>
									<li class="chapter_title"><p><b>Precio:</b> $20,00</p></li>
									<li class="chapter_title"><p><b>Descripción: </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat a nunc sed pharetra. Sed erat lectus, interdum nec lacus at, fermentum rutrum sapien. Duis sit amet mauris bibendum, scelerisque risus nec, egestas ante. Vivamus consectetur sem ac sem semper, et sollicitudin ex facilisis. Nullam et lacus et libero sagittis bibendum quis eu velit. Donec nisl ante, sollicitudin at fringilla vitae, malesuada sit amet ligula. In ultrices ex massa, a ullamcorper ante dictum a. Vestibulum non euismod nunc. Nullam malesuada fermentum nibh eget interdum. Fusce bibendum, libero vel hendrerit commodo, libero nulla volutpat urna, sit amet pretium lectus nisi ac dui. Ut faucibus et nibh vel porttitor. Ut id gravida nunc. Praesent sollicitudin semper luctus.</p></li>
									<li>
									<div class="botones_solicitud">
										<button>Aceptar</button>
										<button>Rechazar</button>
									</div>
									</li>
								</ul>
						</details>
						</li>
						<li>
						<details>
							<summary>
								<span class="volume_title"><small>Venta #9</small></span>
							</summary>
								<ul class="chapters_list">
									<li class="chapter_title"><p><b>Nombre Producto: </b> Nombre</p></li>
									<li class="chapter_title"><p><b>Precio:</b> $20,00</p></li>
									<li class="chapter_title"><p><b>Descripción: </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat a nunc sed pharetra. Sed erat lectus, interdum nec lacus at, fermentum rutrum sapien. Duis sit amet mauris bibendum, scelerisque risus nec, egestas ante. Vivamus consectetur sem ac sem semper, et sollicitudin ex facilisis. Nullam et lacus et libero sagittis bibendum quis eu velit. Donec nisl ante, sollicitudin at fringilla vitae, malesuada sit amet ligula. In ultrices ex massa, a ullamcorper ante dictum a. Vestibulum non euismod nunc. Nullam malesuada fermentum nibh eget interdum. Fusce bibendum, libero vel hendrerit commodo, libero nulla volutpat urna, sit amet pretium lectus nisi ac dui. Ut faucibus et nibh vel porttitor. Ut id gravida nunc. Praesent sollicitudin semper luctus.</p></li>
									<li>
									<div class="botones_solicitud">
										<button>Aceptar</button>
										<button>Rechazar</button>
									</div>
									</li>
								</ul>
						</details>
						</li>

					</ul>						
			</div>

		<a routerLink="/gestion_procesos"><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/administrador/html/themes/images/administrador/back_button.png?raw=true"id="back_button" alt="boton de retroceso"></a>
	</section>

	<!-- Footer ================================================================== -->
	<div  id="footer"></div>

	<!-- Placed at the end of the document so the pages load faster ============================================= -->
	<script src="themes/js/jquery.js"></script>
	<script src="themes/js/bootstrap.min.js"></script>
	<script src="themes/js/google-code-prettify/prettify.js"></script>
	
	<script src="themes/js/bootshop.js"></script>
    <script src="themes/js/jquery.lightbox-0.5.js"></script>


</body>