<body>
	<!-- Header ================================================================== -->
	<div id="header"></div>

	<!-- Section body ================================================================== -->
	<section>
		<h1>Administrar Usuarios</h1>
		<p>Puede revisar actividades de usuario y también silenciar o eliminar cuentas.</p>
		<div id="listado_usuarios table-responsive">
			<table class="table table-striped table-hover table-bordered">
				  <thead>
				    <tr>
				      <th scope="col">Código</th>
				      <th scope="col">Nombre Usuario</th>
				      <th scope="col">Correo</th>
				      <th scope="col">Fecha de Registro</th>
				      <th scope="col">Edad en Años</th>
				      <th scope="col">Ubicación</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr class="success">
				      <th scope="row" >001</th>
				      <td>Maria Meza</td> 
				      <td>mmeza@espol.edu.ec</td>
				      <td>19/06/2019</td>
				      <td>20</td>
				      <td>Guayaquil</td>
				    </tr>
				    <tr>
				      <th scope="row">002</th>
				      <td>Axel Tuarez</td>
				      <td>atuar@espol.edu.ec</td>
				      <td>19/06/2019</td>
				      <td>25</td>
				      <td>Guayaquil</td>
				    </tr>
				    <tr class="success">
				      <th scope="row">003</th>
				      <td>Julio Aguirre</td>
				      <td>jaguirre@espol.edu.ec</td>
				      <td>19/06/2019</td>
				      <td>19</td>
				      <td>Guayaquil</td>
				    </tr>
				    <tr >
				      <th scope="row">004</th>
				      <td>Valeria Baek</td>
				      <td>vbaek@espol.edu.ec</td>
				      <td>19/06/2019</td>
				      <td>21</td>
				      <td>Guayaquil</td>
				    </tr>
				    <tr class="success">
				      <th scope="row">005</th>
				      <td>Justin Chilan</td>
				      <td>jchilan@espol.edu.ec</td>
				      <td>19/06/2019</td>
				      <td>20</td>
				      <td>Guayaquil</td>
				    </tr>
				    <tr>
				      <th scope="row">006</th>
				      <td>Claudia Zambrano</td>
				      <td>czamb@espol.edu.ec</td>
				      <td>20/06/2019</td>
				      <td>18</td>
				      <td>Guayaquil</td>
				    </tr>
				    <tr class="success">
				      <th scope="row">007</th>
				      <td>Rodrigo Dominguez</td>
				      <td>rdom@espol.edu.ec</td>
				      <td>20/06/2019</td>
				      <td>20</td>
				      <td>Guayaquil</td>
				    </tr>
				    <tr>
				      <th scope="row">008</th>
				      <td>Denisse Quishpe</td>
				      <td>dquishpe@espol.edu.ec</td>
				      <td>20/06/2019</td>
				      <td>23</td>
				      <td>Guayaquil</td>
				    </tr>
				    <tr class="success">
				      <th scope="row">009</th>
				      <td>Daniela Guaranda</td>
				      <td>dguar@espol.edu.ec</td>
				      <td>20/06/2019</td>
				      <td>24</td>
				      <td>Guayaquil</td>
				    </tr>

				  </tbody>
			</table>

		</div>
		<a routerLink="/">><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/administrador/html/themes/images/administrador/back_button.png?raw=true" id="back_button" alt="botón de regreso"></a>
	</section>

	<!-- Footer ================================================================== -->
	<div  id="footer"></div>

	<!-- Placed at the end of the document so the pages load faster ============================================= -->
	<script src="themes/js/jquery.js"></script>
	<script src="themes/js/bootstrap.min.js"></script>
	<script src="themes/js/google-code-prettify/prettify.js"></script>
	
	<script src="themes/js/bootshop.js"></script>
    <script src="themes/js/jquery.lightbox-0.5.js"></script>

</body>