<body>
	<!-- Header ================================================================== -->
	<div id="header"></div>

	<!-- Section body ================================================================== -->
	<section>
		<h1>Ventas concretadas por Categoria</h1>
			<script src="https://d3js.org/d3.v3.min.js"></script>
			<div id="wrapper"></div>
      
	    <a routerLink="/reportes"><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/administrador/html/themes/images/administrador/back_button.png?raw=true" id="back_button" alt="boton de retroceso"></a>

	</section>

	<!-- Footer ================================================================== -->
	<div  id="footer"></div>

	<!-- Placed at the end of the document so the pages load faster ============================================= -->
	<script src="themes/js/jquery.js"></script>
	<script src="themes/js/bootstrap.min.js"></script>
	<script src="themes/js/google-code-prettify/prettify.js"></script>
	
	<script src="themes/js/bootshop.js"></script>
    <script src="themes/js/jquery.lightbox-0.5.js"></script>
    <script src="js/ventas_pordia.js"></script>
</body>