<body>
	<!-- Header ================================================================== -->
	<div id="header"></div>

	<!-- Section body ================================================================== -->
	<section>
		<h1>Mascotas Registradas</h1>
		<div id="listado_mascotas">
			<table class="table table-striped table-hover table-bordered">
				  <thead>
				    <tr>
				      <th scope="col">Código</th>
				      <th scope="col">Usuario Registror</th>
				      <th scope="col">Especie</th>
				      <th scope="col">Nombre Mascota</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr class="success">
				      <th scope="row" >001</th>
				      <td>Axel Tuarez</td> 
				      <td>Perro</td>
				      <td>Nombre</td>
				    </tr>
				    <tr>
				      <th scope="row">002</th>
				      <td>Axel Tuarez</td>
				      <td>Gato</td>
				      <td>Nombre</td>
				    </tr>
				    <tr class="success">
				      <th scope="row">003</th>
				      <td>Julio Aguirre</td>
				      <td>Perro</td>
				      <td>Nombre</td>
				    </tr>
				    <tr >
				      <th scope="row">004</th>
				      <td>Valeria Baek</td>
				      <td>Gato</td>
				      <td>Nombre</td>
				    </tr>
				    <tr class="success">
				      <th scope="row">005</th>
				      <td>Justin Chilan</td>
				      <td>Gato</td>
				      <td>Nombre</td>
				    </tr>
				    <tr>
				      <th scope="row">006</th>
				      <td>Claudia Zambrano</td>
				      <td>Perro</td>
				      <td>Nombre</td>
				    </tr>
				    <tr class="success">
				      <th scope="row">007</th>
				      <td>Rodrigo Dominguez</td>
				      <td>Perro</td>
				      <td>Nombre</td>
				    </tr>
				    <tr>
				      <th scope="row">008</th>
				      <td>Denisse Quishpe</td>
				      <td>Gato</td>
				      <td>Nombre</td>
				    </tr>
				    <tr class="success">
				      <th scope="row">009</th>
				      <td>Denisse Quishpe</td>
				      <td>Perro</td>
				      <td>Nombre</td>
				    </tr>

				  </tbody>
			</table>

		</div>
		<a routerLink="/panel_control"><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/administrador/html/themes/images/administrador/back_button.png?raw=true" id="back_button" alt="boton de retroceso"></a>
	</section>

	<!-- Footer ================================================================== -->
	<div  id="footer"></div>

	<!-- Placed at the end of the document so the pages load faster ============================================= -->
	<script src="themes/js/jquery.js"></script>
	<script src="themes/js/bootstrap.min.js"></script>
	<script src="themes/js/google-code-prettify/prettify.js"></script>
	
	<script src="themes/js/bootshop.js"></script>
    <script src="themes/js/jquery.lightbox-0.5.js"></script>

</body>