/*Esta hoja sirve para agregar cambios de estilo. No modificar base.css*/
.navbar-inner{
	background: #366b72;
	
	
	
	border: 0px solid #000000;
}

.carousel .item{
	transition: 6s;
}

/*#carouselBlk{
	background: #FFF9D9;
}*/

.navbar-inner .btn{
	/*background: #9fd5d1;
	color: #000000;*/
}

#productos_index,#footerSection,#mascotas_index,#sidebar, #bolsillos_index {
	/*border-style: solid;
	border-color: black;
	border-width: thin;*/
}
#productos_index{
	margin-top: 100px; 
}


#footerSection{
	background:  #366b72;
}

body{
	/* background-image: url("../../../resources/IMAGENES/fondo_blanco.jpg"); */
	/*background: #FAEAE0;*/
	/* background-color: #cccccc; */
	/*background-repeat: repeat;*/
}

#logoArea, #logoArea a {
    line-height: 75px;
    align-content: center;
}

#secectionBox, #themesBtn{
	display: none;
}

#adopciones_index ul li div{
	height: 250px;
}

div .container{
	text-align: center;
}

#contact_conten{
	margin-top: 50px;
}

#contact_conten{
	display: flex;
    align-items: center;
}

#contact_conten .span4{
	margin: 0 auto;
}
/*
.thumbnails{
	margin-top: 0px;
}*/

.span3 .thumbnail {
	display:flex;
 	align-items: center;
 	text-align: center;
	background-color: #ffffff ;
	border-width: 5px; 
}
#bolsillos_index .thumbnail{
	
	background-color: hsl(0, 0%, 100%) ;
	
}
#nombreBolsillo{
	color: rgb(11, 39, 131) ;
}
.thumbnail a img{
	 -webkit-transition: all 0.5s ease-out;
 	-moz-transition: all 0.5s ease;
 	-ms-transition: all 0.5s ease;
}

.thumbnail a img:hover{
	 -webkit-transform: rotate(-15deg);
 -moz-transform: rotate(-15deg);
 -ms-transform: rotate(-15deg);
 transform: rotate(-15deg);
}

/*info de cada mascota*/
#popup{
	visibility: hidden;
   	opacity: 0;
   	margin-top: -300px;
}

#popup:target {
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 999;
   transition:all 1s;
}

.popup-contenedor {
   position: relative;
   margin:7% auto;
   padding:30px 50px;
   background-color: #fafafa;
   color:#333;
   border-radius: 3px;
   width:50%;
}
a.popup-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   background-color: #333;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}

