<body>
	<!-- Header ================================================================== -->
	<div id="header"></div>

	<!-- Section body ================================================================== -->
	<section>
		<h1>Ventas Concretadas</h1>
		<div id="listado_ventas">
			<table class="table table-striped table-hover table-bordered">
				  <thead>
				    <tr>
				      <th scope="col">Código</th>
				      <th scope="col">Vendedor</th>
				      <th scope="col">Nombre Producto</th>
				      <th scope="col">Precio</th>
				      <th scope="col">Comprador</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr class="success">
				      <th scope="row" >001</th>
				      <td>Maria Meza</td> 
				      <td>Nombre</td>
				      <td>$20,00</td>
				      <td>Fabrizio GC</td>
				    </tr>
				    <tr>
				      <th scope="row">002</th>
				      <td>Axel Tuarez</td>
				      <td>Nombre</td>
				      <td>$40,00</td>
				      <td>Ignacio Flores</td>
				    </tr>
				    <tr class="success">
				      <th scope="row">003</th>
				      <td>Julio Aguirre</td>
				      <td>Zapatos de Cuero</td>
				      <td>$25,00</td>
				      <td>Marlee Pinargote</td>
				    </tr>
				    <tr >
				      <th scope="row">004</th>
				      <td>Valeria Baek</td>
				      <td>Nombre</td>
				      <td>$5,00</td>
				      <td>Alejandra Mondragon</td>
				    </tr>
				    <tr class="success">
				      <th scope="row">005</th>
				      <td>Justin Chilan</td>
				      <td>Nombre</td>
				      <td>$12,00</td>
				      <td>Kevin Aguilar</td>
				    </tr>
				    <tr>
				      <th scope="row">006</th>
				      <td>Claudia Zambrano</td>
				      <td>Nombre</td>
				      <td>$45,00</td>
				      <td>Geovanny Suarez</td>
				    </tr>
				    <tr class="success">
				      <th scope="row">007</th>
				      <td>Rodrigo Dominguez</td>
				      <td>Nombre</td>
				      <td>$30,00</td>
				      <td>Luis Corozo</td>
				    </tr>
				    <tr>
				      <th scope="row">008</th>
				      <td>Denisse Quishpe</td>
				      <td>Nombre</td>
				      <td>$50,00</td>
				      <td>Marlee Pinargote</td>
				    </tr>

				  </tbody>
			</table>

		</div>
		<a routerLink="/panel_control"><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/administrador/html/themes/images/administrador/back_button.png?raw=true" id="back_button" alt="boton de retroceso"></a>
	</section>

	<!-- Footer ================================================================== -->
	<div  id="footer"></div>

	<!-- Placed at the end of the document so the pages load faster ============================================= -->
	<script src="themes/js/jquery.js"></script>
	<script src="themes/js/bootstrap.min.js"></script>
	<script src="themes/js/google-code-prettify/prettify.js"></script>
	
	<script src="themes/js/bootshop.js"></script>
    <script src="themes/js/jquery.lightbox-0.5.js"></script>

</body>