<body>
	<!-- Header ================================================================== -->
	<div id="header"></div>

	<!-- Section body ================================================================== -->
	<section>
		<h1>Administración</h1>
		<div id="admin_opciones">
			<p>Esta es la sección del Administrador. Usted tiene la potestad de manejar el Panel de Control, Gestionar Procesos de la página, Administrar y visualizar los reportes periodicos que generan los movimientos de los usuarios generales del sitio y eliminar, agregar o aceptar cuentas.</p>
			<a href="panel_control.html">
				<div class="admin_opcion">
					<img src=".././assets/themes/images/administrador/panel_control.png" class="image_opcion" alt="panel de control">
					<h4>Panel de Control</h4>
				</div>
			</a>

			<a href="gestion_procesos.html">
				<div class="admin_opcion">
					<img src="themes/images/administrador/gestion_procesos.png" class="image_opcion" alt="gestion de procesos">
					<h4>Gestión de Procesos</h4>	
				</div>
			</a>

			<a href="reportes.html">
				<div class="admin_opcion">
					<img src="themes/images/administrador/reportes.png" class="image_opcion" alt="reportes">
					<h4>Reportes</h4>
				</div>
			</a>

			<a href="admin_usuarios.html">
			<div class="admin_opcion">
				<img src="themes/images/administrador/usuarios.png" class="image_opcion" alt="administrar usuarios">
				<h4>Administrar Usuarios</h4>
			</div>
			</a>
		</div>
		
	</section>

	<!-- Footer ================================================================== -->
	<div  id="footer"></div>

	<!-- Placed at the end of the document so the pages load faster ============================================= -->
	<script src="themes/js/jquery.js"></script>
	<script src="themes/js/bootstrap.min.js"></script>
	<script src="themes/js/google-code-prettify/prettify.js"></script>
	
	<script src="themes/js/bootshop.js"></script>
    <script src="themes/js/jquery.lightbox-0.5.js"></script>

</body>