<body>
	<!-- Header ================================================================== -->
	<div id="header"></div>

	<!-- Section body ================================================================== -->
	<section>
		<h1>Reportes</h1>
		<div id="admin_opciones">
			<p>Los reportes se generan automáticamente para facilitar la visualización y el estudio de datos con alta relevancia referentes a las ventas realizadas, usuarios y productos o publicaciones existentes en el inventario online.</p>
			<a routerLink="/usuarios_fecha">
				<div class="admin_opcion">
					<img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/administrador/html/themes/images/administrador/varios_usuarios.png?raw=true" class="image_opcion" alt="usuarios">
					<h4>Cantidad de Usuarios registrados</h4>
				</div>
			</a>

			<a routerLink="/productos_categoria">
				<div class="admin_opcion">
					<img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/administrador/html/themes/images/administrador/productos_categoria.png?raw=true" class="image_opcion" alt="productos por categoria">
					<h4>Cantidad de productos por Categoria</h4>	
				</div>
			</a>

			<a routerLink="/ventas_pordia">
				<div class="admin_opcion">
					<img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/administrador/html/themes/images/administrador/ventas_categoria.png?raw=true" class="image_opcion"  alt="ventas por categoria">
					<h4>Ventas concretadas por Categoria</h4>
				</div>
			</a>
		</div>

		<a routerLink="/"><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/administrador/html/themes/images/administrador/back_button.png?raw=true" id="back_button" alt="boton de retroceso"></a>


	</section>

	<!-- Footer ================================================================== -->
	<div  id="footer"></div>

	<!-- Placed at the end of the document so the pages load faster ============================================= -->
	<script src="themes/js/jquery.js"></script>
	<script src="themes/js/bootstrap.min.js"></script>
	<script src="themes/js/google-code-prettify/prettify.js"></script>
	
	<script src="themes/js/bootshop.js"></script>
    <script src="themes/js/jquery.lightbox-0.5.js"></script>

</body>