<body>
	<!-- Header ================================================================== -->
	<div id="header"></div>

	<!-- Section body ================================================================== -->
	<section>
		<h1>Reportes</h1>
		<div id="admin_opciones">
			<p>Los reportes se generan automáticamente para facilitar la visualización y el estudio de datos con alta relevancia referentes a las ventas realizadas, usuarios y productos o publicaciones existentes en el inventario online.</p>
			<a href="usuarios_fecha.html">
				<div class="admin_opcion">
					<img src="themes/images/administrador/varios_usuarios.png" class="image_opcion" alt="usuarios">
					<h4>Cantidad de Usuarios registrados</h4>
				</div>
			</a>

			<a href="productos_categoria.html">
				<div class="admin_opcion">
					<img src="themes/images/administrador/productos_categoria.png" class="image_opcion" alt="productos por categoria">
					<h4>Cantidad de productos por Categoria</h4>	
				</div>
			</a>

			<a href="ventas_pordia.html">
				<div class="admin_opcion">
					<img src="themes/images/administrador/ventas_categoria.png" class="image_opcion"  alt="ventas por categoria">
					<h4>Ventas concretadas por Categoria</h4>
				</div>
			</a>
		</div>

		<a href="admin_index.html"><img src="themes/images/administrador/back_button.png" id="back_button"  alt="boton de retroceso"></a>


	</section>

	<!-- Footer ================================================================== -->
	<div  id="footer"></div>

	<!-- Placed at the end of the document so the pages load faster ============================================= -->
	<script src="themes/js/jquery.js"></script>
	<script src="themes/js/bootstrap.min.js"></script>
	<script src="themes/js/google-code-prettify/prettify.js"></script>
	
	<script src="themes/js/bootshop.js"></script>
    <script src="themes/js/jquery.lightbox-0.5.js"></script>

</body>