<div id="footerSection">
	<div class="container">
		<div class="row">
			<div class="span3">
				<h5>Cuenta</h5>
					<a href="../../login.html">Iniciar Sesión</a>
					<a href="../../login.html">Registrarse</a>
				
			 </div>
			<div class="span3">
				<h5>Acerca de:</h5>
				<a href="../../about.html">Nosotros</a>  
				<a href="../../contact.html">Contacto</a>  
				<a href="admin_index.html">Administración</a>  
				<a href="../../faq.html">FAQ</a> 
				
			 </div>
			
			<div id="socialMedia" class="span3 pull-right">
				<h5>Redes sociales </h5>
				<a href="https://www.facebook.com/" target="_blank"><img width="60" height="60" src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/administrador/html/themes/images/facebook.png?raw=true" title="facebook" alt="facebook"/></a>
				<a href="https://twitter.com" target="_blank"><img width="60" height="60" src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/administrador/html/themes/images/youtube.png?raw=true" title="twitter" alt="twitter"/></a>
				<a href="https://www.youtube.com/" target="_blank"><img width="60" height="60" src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/administrador/html/themes/images/twitter.png?raw=true" title="youtube" alt="youtube"/></a>
			 </div> 
		 </div>
		<!-- <p class="pull-right">&copy; Bootshop</p> -->
	</div><!-- Container End -->
	</div>