<body>
	<!-- Header ================================================================== -->
	<div id="header"></div>

	<!-- Section body ================================================================== -->
	<section>
		<h1>Gestión de Procesos</h1>
		<p>Puede visualizar el historial de solicitudes o manejar los procesos o peticiones pendientes.</p>
		<div id="listado_flujos">
			<a routerLink="/solicitudes_venta">
				<div class="admin_opcion">
					<img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/administrador/html/themes/images/administrador/solicitud_venta.png?raw=true" class="image_opcion" alt="solicitud de venta">
					<h4>Revisar solicitudes de Venta</h4>
				</div>
			</a>

			<a routerLink="/publicacion_mascotas">
				<div class="admin_opcion">
					<img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/administrador/html/themes/images/administrador/publicacion_mascotas.png?raw=true" class="image_opcion" alt="publicacion de mascotas">
					<h4>Publicación de Mascotas</h4>
				</div>
			</a>	

			<a routerLink="/historial_solicitudes">
				<div class="admin_opcion">
					<img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/administrador/html/themes/images/administrador/historial_solicitudes.png?raw=true" class="image_opcion" alt="historial de solicitudes">
					<h4>Ver Historial de solicitudes</h4>	
				</div>
			</a>
		</div>

		<a routerLink="/"><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/administrador/html/themes/images/administrador/back_button.png?raw=true" id="back_button" alt="boton de retroceso"></a>
	</section>

	<!-- Footer ================================================================== -->
	<div  id="footer"></div>

	<!-- Placed at the end of the document so the pages load faster ============================================= -->
	<script src="themes/js/jquery.js"></script>
	<script src="themes/js/bootstrap.min.js"></script>
	<script src="themes/js/google-code-prettify/prettify.js"></script>
	
	<script src="themes/js/bootshop.js"></script>
    <script src="themes/js/jquery.lightbox-0.5.js"></script>

</body>